.container {
  overflow: hidden;
  padding: 10px
}

// @media only screen and (max-width: 768px) {
//   .container {
//     display: none;
//   }
// }
.container h2 {
  color: #000000;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
  border-bottom: 1px solid #f0f0f0;
}
.description {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #f0f0f0;
}
.description_left {
  width: 66.666%;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  vertical-align: top;
}
.description_right {
  width: 33.333%;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 30px;
  vertical-align: top;
  text-align: right !important;
}
.input {
  width: 100%;
  min-height: 100px;
  border: 1px solid #f0f0f0;
}
.currency {
  font-size: 20px;
  font-weight: bold;
  color: #cd1818;
}

