.page{
    width: 100%;
    display: flex;
    padding: 0 80px;
    justify-content: space-between
}
.payment{
    width: 55%;
}

.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.nav{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 1% 0;
}
.nav div:nth-child(2),
.nav div:nth-child(4){
    margin: 0 1%;
}
.nav div:nth-child(1){
    color: #338dbc;
}
.infor{
    font-size: 18px;
    margin-bottom: 2%;
}
.login{
    color: #338dbc;
}
::placeholder{
    color: gray;
}
.menu{
    display: flex;
    flex-direction: column;
}
.name{
    width: 94%;
    height: 45px;
    border: 1.5px solid rgb(214, 211, 211, 0.7);
    border-radius: 4px;
    padding: 2%;
    outline-color: #338dbc;
}
.inputHoTen{
    position: relative;
    margin-top: 2%;
}
.inputErrors{
    color: red;
    height: 25px;
    margin-left: 5px;
}
.hoTen{
    font-size: 14px;
    position: absolute;
    bottom: 38px;
    left: 2%;
    color: rgb(150, 148, 148);
}
.show{
    display:block;
    bottom:20px;
    transition: all 1s ease;
}
.hide {
    display: none;
}
.inputChild{
    display: flex;
}
.inputEmail{
    position: relative;
    width: 61%;
    margin-right: 2%;
}
.Email{
    position: absolute;
    font-size: 14px;
    top:0;
    left: 3%;
    color: rgb(150, 148, 148);
}
.email{
    width: 100%;
    height: 45px;
    border: 1.5px solid rgb(214, 211, 211, 0.7);
    border-radius: 4px;
    padding-left: 3%;
    outline-color: #338dbc;
}
.inputNumber{
    width: 31%;
    position: relative;
}
.Number{
    position: absolute;
    top: 0;
    left: 4%;
    color: rgb(150, 148, 148);
    font-size: 14px;
}
.number{
    width: 100%;
    height: 45px;
    border: 1.5px solid rgb(214, 211, 211, 0.7);
    border-radius: 4px;
    padding-left: 6%;
    outline-color: #338dbc;
}
.inputAddress{
    position: relative;
}
.diaChi{
    position: absolute;
    bottom: 53%;
    left: 2%;
    color: rgb(150, 148, 148);
    font-size: 14px;
}
select{
    width: 46%;
    height: 45px;
    margin-right: 2%;
    border: 1.5px solid rgb(214, 211, 211, 0.7);
    border-radius: 4px;
    padding-left: 1%;
}
.gray{
    color: gray
}
.footer{
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.phuongThuc{
    padding: 8%;
    width: 195px;
    border-radius: 4px;
    color: white;
    background-color: #338dbc;
    border: none;
}




.input1{
    border: 1.5px solid rgba(214, 211, 211, 0.7);
    border-radius: 4px;
    width: 95%;
    height: 55px;
    padding: 0 2%;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 5%;
}
.price{
    margin-left: 65%;
}
.gray{
    color:gray
}
.input2{
    border: 1.5px solid rgba(214, 211, 211, 0.7);
    border-radius: 4px;
    width: 95%;
    height: 70px;
    padding: 0 2%;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 5%;
}
.footer2{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.datHang{
    border: none;
    width: 100px;
    padding: 10%;
    background-color: #338dbc;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}
.vanChuyen-active{
    color: #338dbc;
    cursor: pointer;
}

@media (max-width : 900px){
    .page{
        display: flex;
        flex-direction: column;
    }
}