.container_profile{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 2px;
    padding: 0 8px 40px 8px ;
}
.profile_header{
    border-bottom-width: 1px;
    border-bottom-color: rgb(229 231 235);
    padding: 24px 24px 15px 24px;
}
.myprofile{
    font-size: 18px;
    text-transform: capitalize;
    color: black;
    margin-bottom: 1px;
}
.title_profile{
    font-size: 14px;
    color: rgb(55 65 81);
    margin-left: 5px;
}
.box_form{
    width: 65%;
    padding:15px
}
.form_infor{
    margin-top: 24px;
    flex-grow: 1; 
}
.form_input{
    width: 100%;
}
.box_profile_img{
    margin: 20px 0 20px 0;
    height: 120px;
    width: 120px;
}
.profile_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.hiden{
    display: none;
}
.input_profile{
    height: 38px;
    width: 100%;
    padding-left: 10px;
    color: gray;
}
.save_profile{
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    background-color: orangered;
    color: #ffffff;
    border-radius: 4px;
}
.error_profile{
    color: #cd1818;
    font-size: 13px;
    margin: 3px 0 16px 8px;
    height: 3px;
}
.input_change_infor{
    margin-top: 5px;
}
.title_profile{
    margin-bottom: 5px;
}
.button_file{
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 4px;
    border:  1px solid gray;
    margin-bottom: 10px;
}
.infor_img{
    text-align: center;
}
.form_container{
    display: flex;
    align-items:center;
    justify-content: center;
    border-top: 1px solid rgb(188, 163, 163);
}
@media (max-width:768px){
    .box_form{
        width: 100%;
    }
    .title_profile{
        margin-bottom: 2px;
    }
}