.layout_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f9f9f9;
}
.layout_box{
    width: 80%;
}
.layout_body{
    display: flex;
}
.layout_filter{
    width: 232px;
}
.layout_header_title{
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
}
.change_home{
    text-decoration: none;
    color: #cd1818;
    margin-right: 10px;
}
.layout_nameLogin{
    margin-left: 10px;
}
.filter_price_name,
.filter_product_others,
.filter_product_trademark{
    text-transform: uppercase;
    color: #cd1818;
    font-size: 15px;
    font-weight: 700;
}
.filter_box_price,
.trademark_check{
    max-width: 235px;
}
.price_filter_check,
.trademark_check,
.others_check{
    background-color: #ffffff;
    padding: 10px 10px 6px 10px;
    border-radius: 4px;
}
/*  */
.check_price_child{
    display: flex;
    text-align: center;
    margin-bottom: 2px;
}
.check_product_price{
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 10px;
    border-radius: 4px;
}
.price_range{
    font-size: 14px;
    display: flex;
    text-align: center;
}
.check_product_price[type=radio] {
  border: 1px solid #c3c3c3;
  padding: 0.5em;
  -webkit-appearance: none;
}

.check_product_price[type=radio]:checked {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQhORSnpIIJxYokvA_i84-nO295LjdF4nbieg2K7KTUlMSpVm7BLIxmEdM6TRD14eSGgM&usqp=CAU') no-repeat center center;
  background-size: 10px 10px;
}

.check_product_price[type=radio]:focus {
  outline-color: transparent;
}