.layout_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f9f9f9;
    padding: 0 0 10px 0;
}
.layout_box{
    width: 81%;
}
.layout_body{
    display: flex;
}
.layout_filter{
    width: 232px;
}
.layout_header_title{
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
}
.change_home{
    text-decoration: none;
    color: #cd1818;
    margin-right: 10px;
}
.layout_nameLogin{
    margin-left: 10px;
    text-transform: uppercase;
}
.filter_price_name,
.filter_product_others,
.filter_product_trademark{
    text-transform: uppercase;
    color: #cd1818;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}
.filter_box_price,
.trademark_check{
    max-width: 235px;
}
.price_filter_check,
.trademark_check,
.others_check{
    background-color: #ffffff;
    padding: 10px 10px 6px 10px;
    border-radius: 4px;
    margin-bottom: 8px;
}
/*  */
.check_price_child{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.price_range{
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
    text-transform: uppercase;
}
.price_change_range{
    color: #cd1818;
    font-size: 13px;
    margin-left: 10px;
    text-transform: uppercase;
}
.price_range:hover,
.range:hover{
    color: #cd1818;
}
.range{
    border: none;
    background-color: #ffffff;
    margin-left: 10px;
}
.change_range{
    border: none;
    background-color: #ffffff;
    margin-left: 10px;
    color: #cd1818;
}
.layout_product{
    width: 80%;
    margin-left: 10px;
}
.layout_product_header{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.layout_product_name{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.product_sort{
    display: flex;
    align-items: center;
}
.sort_title{
    margin-right: 5px;
    min-width: 48px;
}
.sort_select{
    outline: none;
    border-color: #c3c3c3;
    height: 40px;
    border-radius: 4px;
    width: 180px;
}
.sort_select:focus {
    border-color: black;
}
.sort_select_option{
    padding-left: 5px;
}
@media (max-width:1024px){
    .layout_body{
        flex-wrap: wrap-reverse;
    }
    .layout_filter{
        margin-top: 20px;
    }
    .layout_product{
        width: 100%;
        margin-left: 0;
    }
    .layout_filter{
        width: 100%;
    }
    .filter_box_product_others{
        width: 100%;
    }
    .trademark_check{
        max-width: 100%;
    }
    .filter_price_name,
    .filter_product_trademark,
    .filter_product_others{
        text-align: center;
    }
    .check_price_child{
        justify-content: center;
    }
    .price_filter_check{
        width: 100%;
    }
    .layout_box{
        width: 89%;
    }
}
@media (max-width:768px){
    .layout_product_header{
        justify-content: space-between;
    }
}
@media (max-width:550px) {
    .layout_product_header{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .layout_product_name{
        margin-left: 0;
        padding-left: 18px;
    }
}