.products-container {
  background-color: #fafafa;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: 20px;
}
.product {
  background-color: var(--white-primary);
  padding: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.2s;
  position: relative;

  &:hover .product-img {
    transform: scale(1.05);
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  &:hover .btn-buy {
    display: inline-block;
  }
}
.product-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s;
}
.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0;
  text-transform: capitalize;
  cursor: pointer;
  &:hover {
    color: var(--red-primary);
  }
}
.product-price {
  color: var(--red-primary);
}
.btn-buy {
  background: #cd1818;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 85%;
  right: 10px;

  display: none;
  transition: all 0.4s;
}
.box-more{
  text-align: center;
  width: 200px;
  margin: auto;
}
.btn-load-data{
    border: 1px solid var(--red-primary);
    border-radius: 4px;
    color: var(--red-primary);
    background-color: var(--white-primary);
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin: 15px auto 30px;
    padding: 8px 12px;
    text-align: center;
    transition: all .3s linear;
    width: 240px;

    &:hover{
      color: var(--white-primary);
      background-color: var(--red-primary);
    }
}

@media (max-width : 900px){
  .product{
    &:hover .btn-buy{
      display: none;
    }
  }
}