.product-detail-info-display-element {
    // display: none;
}

.product-specifications-table, .product-specifications-title, .product-specifications-detail {
    border: 1px solid black;
    border-collapse: collapse;
}

.info-active {
    display: block;
}