@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

:root {
    --red-primary: #cd1818;
    --black-primary: #000000;
    --white-primary: #fff;
    --background-color-body: #fafafa;
    --price-color: #cd1818;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    background: var(--background-color-body);
}